

<button  (click)="showConfig()">Load API</button>

<div *ngIf="config">
<ngb-accordion [closeOthers]="true" activeIds="static-0">
  <div *ngFor="let people of config.results; let i = index">
      <ngb-panel id="static-{{i}}" title="{{people.name}}">
          <ng-template ngbPanelContent>
           Height: {{ people.height}} 
           Mass: {{ people.mass }}
           Hair Color: {{ people.hair_color }}
           Gender: {{ people.gender }}

          </ng-template>
        </ngb-panel>
    
  </div>
</ngb-accordion>
  </div>



<!-- Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->